@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, sans-serif;
  background-color: #f7f8f8;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  color: #333;
}

textarea {
  resize: none;
  border-radius: 20px;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ddd;
}

button {
  background-color: #0084ff;
  color: white;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #006bb3;
}
